[url "git@github.com:"]
	insteadOf = https://github.com/
[user]
[user]
	name = Dustin Mowcomber
	email = dustin.mowcomber@sendgrid.com
	initials = dm
[alias]
    st = status
    s = status
    co = checkout
    br = branch
    d = diff
    dc = diff --cached
[core]
	excludesfile = /Users/dmowcomber/.gitignore_global
	editor = /usr/bin/vim
[push]
	default = simple
[diff]
	submodule = log
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
[url "ssh://git@github.com/sendgrid"]
	insteadOf = https://github.com/sendgrid
