[submodule ".vim/bundle/molokai"]
	path = .vim/bundle/molokai
	url = git@github.com:tomasr/molokai.git
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = git@github.com:gmarik/Vundle.vim.git
